@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600&display=swap');

body {
    font-family: "poppins", san-serif;
    display: grid;
    /* place-content: center; */
}

.title-el {
    color: hsl(208, 53%, 23%);
    font-weight: 600;
    font-size: 2.4rem;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    margin: 1em auto;
    border: 1px solid;
    padding: 1em;
}

.display-el {
    background-color: hsl(0, 0%, 8%);
    color: rgb(148, 148, 148);
    font-size: 1.5rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    min-width: 100px;
    min-height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0.2em 1em;
}

#password-box {
    min-width: 200px;
    letter-spacing: 2px;
    flex-basis: 80%;
}

.bi-copy {
    padding: 0.2em;
}

.bi-copy:hover {
    color: aliceblue;
    font-size: 2rem;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

#btn {
    padding: 0.4em 2em;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    color: hsl(208, 28%, 74%);
    max-width: max-content;
    /* margin: auto; */
    background-color: hsl(209, 34%, 33%);
    border-radius: 4px;
}

#btn:hover {
    color: hsl(209, 34%, 33%);
    background-color: hsl(208, 28%, 74%);
    box-shadow: 03px 4px 0 hsla(0, 2%, 10%, 0.806);
}